.main-header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
}

.logo {
  margin-top: 5px;
  width: 100px;
  height: 30px;
}

.logo-img {
  height: 25px; 
  width: auto;
  object-fit: contain;
}

.logout-btn {
  background: none;
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  transition: background 0.2s;
}

.logout-btn:hover {
  background-color: #f0f0f0;
}


.nav-menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-menu a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

.new-badge {
  color: #6366f1;
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 10px;
  border: 1px solid #6366f1;
  font-weight: 500;
  margin-right: -10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: 1rem;
}

.user-menu {
  display: flex;
  align-items: center;
  gap: 12px; /* 이름과 버튼 간격 */
}

.icon {
  font-size: 16px;
}
